<p>一、&nbsp;施工安全设施的布设<br>
&nbsp;&nbsp;&nbsp; （1）&nbsp;施工区标志：用于路面工程施工施工过程中占用车道、封闭道路、借道行驶等。施工区标志根据规范及实际需要，按组进行设置，重复使用。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 施工现场标志支撑采用支架结构形式；标志板采用1mm厚镀锌钢板，采用材料为二级反光膜；字高30cm。标志尺寸应符合国标要求，并用沙袋等重物压稳。<br>
&nbsp;&nbsp;&nbsp; （2）&nbsp;临时交通标线：<br>
&nbsp;&nbsp;&nbsp; 单侧双向两车道行驶时，需设置中央隔离设施，同时设置临时标线，包括车道边缘线、车道分界线，用以渠化通向交通、分离对象交通；标线采用溶剂型反光标线。<br>
&nbsp;&nbsp;&nbsp; （3）&nbsp;临时隔离设施：包括临时隔离栅、隔离墩、水马、锥形路标、防撞桶等。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 锥形路标、防撞桶配合施工标志使用，或作为简易隔离设施单独使用。<br>
&nbsp;&nbsp;&nbsp; 各类标志，均应符合《公路交通安全设施标准》（GB5768-1999）的规范要求，并具有夜间反光功能。其中隔离墩及钢管须有红白相间的反光标记；防撞标志桶内要适当填充，防止倒伏；锥形交通标采用内部填充或压沙袋圈等方法防止倒伏，严禁用砖头、石块等有棱角物体压制，以免引发交通事故；警示标志牌除支架底部采用铸铁支座外，可视情况采取压沙袋等方法防止倒伏。施工现场的标志要有专人负责，必要时采用信号或旗手管制指挥交通，严禁因施工标志摆放不规范而引发交通事故。<br>
&nbsp;&nbsp;&nbsp; 当两公里路段内安排两处或以上施工现场时，可按一处施工现场布设标志，中间采用锥型交通标连接。<br>
&nbsp;&nbsp;&nbsp; （4）&nbsp;作业控制区内设置交通标志的位置应符合下列规定：<br>
&nbsp;&nbsp;&nbsp; （a）&nbsp;作业区在右侧车道时，应将交通标志设在公路右侧路肩上和作业区边界的左侧；<br>
&nbsp;&nbsp;&nbsp; （b）&nbsp;作业区在左侧车道时，除施工预告标志设在右侧硬路肩上外，其他交通标志应设在施工区边界的右侧或中央分隔带上。<br>
&nbsp;&nbsp;&nbsp; （c）&nbsp;禁令标志：禁止通行标志设在上游过度区的前方；禁止超车标志设在禁止超车路段的起点处，解除禁止超车标志设在禁止超车路段的终点处，限制速度标志，设在限制车速路段的起点，标志牌上标明所限制的速度；解除限制速度标志设在限制车速路段的终点处。<br>
&nbsp;&nbsp;&nbsp; （d）&nbsp;警告标志：前方施工标志设在警示区的起点处；前方车道变窄标志应设在车道变窄处前方至少200米处；双向通向标志应设在双向通行路段前至少400米处。<br>
&nbsp;&nbsp;&nbsp; （e）&nbsp;指示标志：前方绕行标志设在需要绕行的车辆进出处前至少200米处起点处；直行和单向行驶标志，应设在需要直行、转弯和单向行驶路段前方200米处。<br>
&nbsp;&nbsp;&nbsp; （f）&nbsp;渠化装置：渠化用的锥行路标应从上方过渡区开始，顺车流方向布置，间距5-20米，作业完成后，必须逆着车流方向拆除；交通安全带经常与锥行路标一起使用，主要用于分隔车辆与作业区或双向车流的车道；导向标设在车流方向改变的地方；路栏设在需要隔离车流的地方；应根据作业时间长短，设置与交通标志相吻合的临时性路面标线。<br>
&nbsp;&nbsp;&nbsp; （g）&nbsp;安全设施布设顺序：安全设施的布设必须从上游开始顺车流方向布置；撤除应从施工区的末端开始逆车流方向撤除。若为半幅封闭施工的，则应先开放施工封闭区交通后再进行安全设施的撤除。<br>
&nbsp;&nbsp;&nbsp; （h）&nbsp;施工现场安全布控临时交通安全防护设施摆放完成后，首先自检，合格报监理、项目业主及路政部门联合验收，经验收合格后，施工材料、设备方可进场。验收程序：施工单位自检--监理单位验收--交通组织管理部联合验收。施工期间，现场安全设施、标志和警示牌未经施工负责人同意，不得擅自拆动。<br>
&nbsp;&nbsp;&nbsp; 二、&nbsp;施工现场的交通安全管理<br>
&nbsp;&nbsp;&nbsp; （1）&nbsp;施工现场应设专职交通协管员，负责维护现场交通秩序，协管员应在作业控制区的两端路外或桥下等较安全的地段进行休息、观察、巡视。交通协管员应经过培训，掌握交通法规应具备能快速、有效地指挥交通，应付突发的交通情况的能力。<br>
&nbsp;&nbsp;&nbsp; （2）&nbsp;协管员要时刻注意现场封闭设施的完好性，发现问题要及时纠正，要保证设施、标志清洁，易于辨认，并始终处于正确工作状态。注意因通行车辆刮、碰标志可能导致指向错误或无法正确辨认，应避免非施工作业车辆误入作业控制区。<br>
&nbsp;&nbsp;&nbsp; （3）&nbsp;应设立专职安全员负责监督现场的安全管理，督促作业人员不能随意走出作业控制区，现场专职安全员应服从交警、路政等部门对现场作业秩序和安全组织措施的监督管理，做好施工路段交通组织保障的管理和维护工作，使施工路段所设置的作业控制区安全始终处于良好、有效状态，并积极协助交警、路政部门处理路面突发事件。<br>
&nbsp;&nbsp;&nbsp; （4）&nbsp;全体施工人员上岗前应进行施工安全教育，从思想上重视施工安全；施工人员应身着黄色反光背心作业；注重安全作业，不准在作业区外，特别是越过交通安全设施外的未封闭道路上行走。<br>
&nbsp;&nbsp;&nbsp; （5）&nbsp;施工机械、车辆（如凿毛机、罐车、装载机、施工车辆等）在施工区内应按规定地点有序停放，进出施工区域时应服从专职交通协管员管理，不得擅自进出；采取有效措施避免施工机械及车辆的任何一部位伸入未封闭道路，造成事故。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 当施工路段出现交通事故或交通严重阻塞时，要及时通知思遵高速公路项目业主、高速交警大队和路政大队，服从指挥，共同疏导交通，注意防止非施工车辆进入施工封闭区。<br>
&nbsp;&nbsp;&nbsp; 三、&nbsp;施工安全应急预案<br>
&nbsp;&nbsp;&nbsp; 为了做好项目一旦发生生产安全事故后的紧急救援工作，减少事故人员伤亡和经济损失，并防止事故进一步扩大；充分的发挥各职能部门、施工队的作用，根据国家《安全生产法》，建立应急救援体系，特制订本预案。<br>
&nbsp;&nbsp;&nbsp; 1、编制目的<br>
&nbsp;&nbsp;&nbsp; 加强对施工过程的安全管理，及时、妥善、有条不紊地处理好突发事故，确保施工生产和人身安全，确保对思遵高速公路的影响降到最低。<br>
&nbsp;&nbsp;&nbsp; 2、现场应急指挥机构的组成<br>
&nbsp;&nbsp;&nbsp; 总指挥长：&nbsp;&nbsp;&nbsp; 周松柏&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 电话：18685618358<br>
&nbsp;&nbsp;&nbsp; 副总指挥长：&nbsp; 彭崇高&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 电话：18786201705<br>
&nbsp;&nbsp;&nbsp; 组&nbsp;&nbsp;&nbsp;&nbsp; 员：&nbsp;&nbsp;&nbsp; 徐亮&nbsp;&nbsp;&nbsp; 陈凯&nbsp;&nbsp;&nbsp; 汪耀&nbsp;&nbsp;&nbsp;&nbsp; 李永强&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 李全安</p>
<p>&nbsp;&nbsp;&nbsp; （1）、各应急救护小组<br>
&nbsp;&nbsp;&nbsp; 组长：李永强&nbsp;&nbsp;&nbsp;&nbsp; 电话：18786266626<br>
&nbsp;&nbsp;&nbsp; 现场救护小组救护原则：第一时间对现场负伤人员进行救援，调动一切可以调动的人员、救援物资进行救援工作，并及时对道路进行清理、恢复正常通行。<br>
&nbsp;&nbsp;&nbsp; 主要职责：在工程施工期间要确保现场配有必要的急救药物，在事故发生时，第一时间将事故情况通知总指挥长，并及时采取措施，调度医疗救援资源，并控制事态的发展，避免造成更大的损失。<br>
&nbsp;&nbsp;&nbsp; （2）、配合相关部门的事故处理、调查小组<br>
&nbsp;&nbsp;&nbsp; 组长：&nbsp;&nbsp;&nbsp; 陈凯&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 电话：18673077171<br>
&nbsp;&nbsp;&nbsp; 副组长：李永强&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 电话：18786266626<br>
&nbsp;&nbsp;&nbsp; 主要职责：在第一时间对发生事故的工程情况进行分析、得出处理方案，并组织现场现场施工人员进行工程处理工作，并得出事故原因报告。<br>
&nbsp;&nbsp;&nbsp; （3）、现场保护、善后工作组<br>
&nbsp;&nbsp;&nbsp; 组长：&nbsp;&nbsp;&nbsp; 汪耀&nbsp;&nbsp;&nbsp; 电话：18786880018<br>
&nbsp;&nbsp;&nbsp; 主要职责：确保在事故中负伤人员得到有效救治、事故工程得到有效控制后，组织对事故进行善后处理工作，对在事故中负伤的人员家属进行有效的安抚安慰工作，控制所造成的社会不良影响。<br>
&nbsp;&nbsp;&nbsp; （4）&nbsp;、急救后勤组<br>
&nbsp;&nbsp;&nbsp; 组长：&nbsp;&nbsp; 徐亮&nbsp;&nbsp;&nbsp;&nbsp; 电话： 14785683166<br>
&nbsp;&nbsp;&nbsp; 主要职责：对确定的救援方案中需要的救援物质进行调配，确保救援物资第一时间分发到救援现场。<br>
&nbsp;&nbsp;&nbsp; 3、 应急响应<br>
&nbsp;&nbsp;&nbsp; （1）、一旦发生如下情形生产安全事故：工程失事事故、机械事故、工程中发生重大自然灾害或地质灾害引发人员伤亡、重大的火灾。应急救援指挥部开始运作，安全事故应急预案即开始启动。<br>
&nbsp;&nbsp;&nbsp; （2）、项目重大事故应急指挥部组成及职责<br>
&nbsp;&nbsp;&nbsp; （3）、应急预案启动后，指挥部人员无特殊情况不准请假。<br>
&nbsp;&nbsp;&nbsp; 4、职责与分工<br>
&nbsp;&nbsp;&nbsp; 正、副指挥长负责召集项目部应急救援指挥部会议，部署应急工作，制定和采取应急措施，指挥部成员负责完成以及会议交办的各项分工任务，确保政令畅通。<br>
&nbsp;&nbsp;&nbsp; 5、安全科<br>
&nbsp;&nbsp;&nbsp; 负责派人参加救援队：<br>
&nbsp;&nbsp;&nbsp; 组织事故调查，了解事故情况，及时进行事故的上报工作；<br>
&nbsp;&nbsp;&nbsp; 分析事故人员，提出事故处理意见；协助做好善后处理工作。<br>
&nbsp;&nbsp;&nbsp; 6、工程科<br>
&nbsp;&nbsp;&nbsp; 负责派人参加救援队：<br>
&nbsp;&nbsp;&nbsp; 分析事故原因，提出遏制事故进一步扩大的措施，如事故对思遵高速行车影响，首先组织人员、机械设备疏通思遵高速，确保其行车安全。<br>
&nbsp;&nbsp;&nbsp; 组织对事故单位的技术资源；负责应急设备的调动，使事故区域尽早恢复；<br>
&nbsp;&nbsp;&nbsp; 因设备原因引起的事故的，应协助查明原因，及时上报；提出恢复生产、生活的措施和方法。<br>
&nbsp;&nbsp;&nbsp; 7、综合科：<br>
&nbsp;&nbsp;&nbsp; 负责应急用车调度；<br>
&nbsp;&nbsp;&nbsp; 负责派人参加救援队；<br>
&nbsp;&nbsp;&nbsp; 参加事故调查，了解事故情况，参与提出事故处理意见；负责应急时的后勤工作；<br>
&nbsp;&nbsp;&nbsp; 负责应急时期上级机关领导到来的接待安排和工作联系；协助做好善后工作。<br>
&nbsp;&nbsp;&nbsp; 8、财务室：<br>
&nbsp;&nbsp;&nbsp; 负责应急资金的调动，满足处理相关事故和抢险救援资金的使用要求，确保事故及时得到处理；负责资金的调配，使事故区域尽早恢复。<br>
&nbsp;&nbsp;&nbsp; 9、事故抢险：<br>
&nbsp;&nbsp;&nbsp; （1）、当事故发生后，项目部应立即成立事故抢险指挥部，调动所在地人员或设备立即投入进行事故抢险，紧急隔离或切断重大危险源（电）。<br>
&nbsp;&nbsp;&nbsp; （2）项目部应第一时间向分局及当地有关部门报告事故发生的事实，并立即启动紧急预案，投入紧急抢救中。<br>
&nbsp;&nbsp;&nbsp; （3）、事故发生后，项目部应及时向当地安全生产监督局、工会、公安部门报告。与医院及时取得联系，已便得到地方政府和各方力量的支持和帮助。<br>
&nbsp;&nbsp;&nbsp; （4）事故抢险所用的设备和人力，在附近工地所进行调动的，各施工队应以大局为重，不得推诿，更不得阻扰。<br>
&nbsp;&nbsp;&nbsp; （5）、事故抢险期间，项目部事故应急指挥办公室实行24小时值班，做好各项应对准备。<br>
&nbsp;&nbsp;&nbsp; （6）、事故发生时，要全力抢救被困人员，应尽快取近的方式救助伤员，使之在最短时间内伤员得到妥善医治，减少人员伤亡和财产损失。<br>
&nbsp;&nbsp;&nbsp; 10、事故调查、处理、抢险工作的评价<br>
&nbsp;&nbsp;&nbsp; （1）、在现场抢险工作完成后，应立即开展事故的调查、分析工作，查明事故原因，分清事故责任，拟定防范措施，提出对责任人的处理意见。<br>
&nbsp;&nbsp;&nbsp; （2）、项目部应向有关部门书面汇报事故经过，并初步分析事故的原因；<br>
&nbsp;&nbsp;&nbsp; （3）、事故调查报告由质量安全部牵头拟定，深入剖析事故的原因，找出安全管理上的薄弱环节。<br>
&nbsp;&nbsp;&nbsp; （4）、对事故负有责任的各级人员，应进行严肃地批评、教育、处罚或处分，触犯刑法的，应交由司法机关处理。<br>
&nbsp;&nbsp;&nbsp; （5）、事故抢险工作结束后，应进行必要的总结性评价。<br>
&nbsp;&nbsp;&nbsp; 11、生产和生活的恢复<br>
&nbsp;&nbsp;&nbsp; （1）、在现场抢险工作完成后，项目部应及时负责安排好生产和生活的恢复工作。<br>
&nbsp;&nbsp;&nbsp; （2）、为预防各类安全事故的发生，项目部应加强管理，增加安全投入，认真检查，消除隐患，杜绝事故，确保安全。<br>
&nbsp;&nbsp;&nbsp;&nbsp;<br>
&nbsp;</p>
